<div class="btn-group btn-group-sm">
    <a href="{{ path('usuarios') }}" class="btn btn-default">
        Usuarios
    </a>
    <a href="{{ path('usuarios_crear') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="{{ path('grupos') }}" class="btn btn-default">
        Grupos
    </a>
    <a href="{{ path('grupos_crear') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="{{ path('roles') }}" class="btn btn-default">
        Roles
    </a>
    <a href="{{ path('roles_crear') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
