<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ArtesanIO - ArtesanusBundle</title>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bundles/artesanus/css/app.css') }}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>

        <div id="wrap-security">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>


        <script src="{{ asset('js/jquery.min.js') }}" charset="utf-8"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}" charset="utf-8"></script>
        <script src="{{ asset('js/app.js') }}" charset="utf-8"></script>
        </body>
</html>
