{% extends 'ArtesanusBundle::layout.html.twig' %}

{% block title %}

    {{ 'admin.titles.acl'|trans({}, 'admin') }}

{% endblock %}

{% block subtitle %}
    {{ 'admin.subtitles.acl.users'|trans({}, 'admin') }}
{% endblock %}
{% block botonera %}

<a href="{{ path('usuarios_crear') }}" class="btn btn-default">
    Crear
</a>

{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Usuario</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Usuario</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.name }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <a href="{{ path('usuario', {id: usuario.username }) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
